SECRET_KEY=NotAVeryGoodSecret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=sqlite:///db.sqlite3

TIME_ZONE=Europe/Helsinki

CORS_ORIGIN_WHITELIST=[]
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOW_HEADERS=[]

GOOGLE_MAPS_API_KEY=NotAVeryGoodSecret
