<!DOCTYPE html>{% load static %}
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0;"/>
    <link rel="stylesheet" type="text/css" href="{% static 'www/css/style.css' %}" media="screen"/>

</head>
<body>

{% block content %}
{% endblock %}

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
</script>


</body>
</html>
