<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0;" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>

  <div id='header-bg'>
  <header>
      <h1>demoparty.net</h1>
      <nav>
        <ul>
          <li><a href='#'>News</a></li>
          <li><a href='#'>Countries</a></li>
          <li><a href='#'>Years</a></li>
          <li><a href='#'>Log in</a></li>
        </ul>
      </nav>
  </header>
  </div>
    
  <main>
    <div id='party-content'>
      <section id='party-name'>
        <h2>Evoke 2017</h2>
        <a href='#'><i class="fa fa-external-link" aria-hidden="true"></i></a>
        <a href='#'><i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a href='#'><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href='#'><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </section>
      <section id='party-info'>
        <div id='party-map'>
          <img src='map.jpg' style='max-width:100%;'/>
        </div>
        <div id='party-info-text'>
          <div id='party-info-date'>
            <h4><a href='#'>2017</a>/07/08 - 10.</h4>
            <a href='#'>Add to calendar <i class="fa fa-external-link" aria-hidden="true"></i></a>
          </div>
          <div id='party-info-location'>
            <h5>Abenteuerhallen Kalk</h5>
            <p>Christian-S&uuml;nner-Strasse 8</p>
            <p>51103 K&ouml;ln</p>
            <p>Germany <img src='http://www.famfamfam.com/lab/icons/flags/icons/gif/de.gif'/></p>        
          </div>
          <div id='party-info-ticket'>
            <h5>Entrance fee</h5>
            <ul>
              <li>Regular ticket: <b>30&euro;</b></li>
              <li>Supporter ticket: <b>300&euro;</b></li>
            </ul>
            <a href='#'>Purchase tickets <i class="fa fa-external-link" aria-hidden="true"></i></a>
          </div>
          
        </div>
      </section>
      <section id='party-news'>
        <h3>News</h3>
        <article>
          <h4><a href="#">Bitjam Podcast #215 &ndash; 20 years of Evoke</a></h4>
          <time>18th Jun 17</time>
          <p>The bitjam podcast gang is doing us the honors and just released <a href="http://www.bitfellas.org/page.php?100"
          title="Bitjam Podcast #215">a new episode</a> full of the best soundtracks of demos released at the last 19 Evokes.
          The tracks were mixed together by Vincenzo and Bobic and Oni created an awesome animated logo for this special
          episode.</p>
          <p>Go get it as long as it's fresh ...</p>
        </article>
        <article>
          <h4><a href="#">Bitjam Podcast #215 &ndash; 20 years of Evoke</a></h4>
          <time>18th Jun 17</time>
          <p>The bitjam podcast gang is doing us the honors and just released <a href="http://www.bitfellas.org/page.php?100"
          title="Bitjam Podcast #215">a new episode</a> full of the best soundtracks of demos released at the last 19 Evokes.
          The tracks were mixed together by Vincenzo and Bobic and Oni created an awesome animated logo for this special
          episode.</p>
          <p>Go get it as long as it's fresh ...</p>
        </article>
      </section>
    </div>
    <div id='party-sidebar'>
      <aside id='party-visitors'>
        <h3>Attendance</h3>
        <ul>
          <li><a href='#'><img src='http://img.demoparty.net/avatars/73.jpg'/> Nosfe</a></li>
          <li><a href='#'><img src='http://img.demoparty.net/avatars/48.jpg'/> Gargaj</a></li>
        </ul>
        <button>I'm attending too!</button>
        <button>I'm thinking about attending!</button>
      </aside>
      <aside id='party-bbs'>
        <h3>Rides</h3>
        <ul>
          <li><a href='#'><img src='http://img.demoparty.net/avatars/73.jpg'/> Nosfe</a> (from Berlin)</li>
          <li><a href='#'>Offer a ride</a></li>
        </ul>
      </aside>
      <aside id='party-bbs'>
        <h3>Discussions</h3>
        <ul>
          <li><a href='#'>Saturday evening demo compo <small>kieranhj 15.3.17 10:58</small></a></li>
          <li><a href='#'>Missing link to previous editions <small>PulkoMandy 2.1.17 17:12</small></a></li>
          <li><a href='#'>Start new discussion</a></li>
        </ul>
      </aside>
      <aside id='party-previous'>
        <h3>Previous editions</h3>
        <ul>
          <li><a href='#'>Evoke 2016</a></li>
          <li><a href='#'>Evoke 2015</a></li>
          <li><a href='#'>Evoke 2014</a></li>
        </ul>
      </aside>
      <aside id='party-related'>
        <h3>Related events</h3>
        <ul>
          <li><a href='#'>Revision 2017</a></li>
          <li><a href='#'>TUM 2017</a></li>
        </ul>
      </aside>
    </div>
  </main>
  
  <div id='footer-bg'>
  <footer>
    <ul>
      <li><a href='#'>About demoparty.net</a></li>
      <li><a href='#'>Found a bug? Tell us!</a></li>
      <li><a href='#'>Contact us</a></li>
      <li>&copy; demoparty.net</li>
    </ul>
  </footer>
  </div>
  
</body>
</html>